:root {
    --white: #ffffff;
    --black: #212121;
    --primarycolor: #fcc107;
    --secundarycolor: #0097a7;
    --gray: #757575;

}

html {
    font-size: 62.5%;
}
body {
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Quicksand', sans-serif;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
    
}
span {
    font-size: 2.3rem;
    font-style: italic;
}
.container {
    max-width: 120rem;
    margin: 0 auto;
}
.nav-bg {
    background-color: var(--secundarycolor);
}
.nav-leader {
    display: flex;
    flex-direction: column; 
         
}
@media (min-width: 480px) {
    .nav-leader {
        flex-direction: row;
        justify-content: space-between;
        
    }
}
.nav-leader a {
    display: block;
    text-align: center;
    color: var(--white);
    text-decoration: none;   
    font-size: 2rem;
    font-weight: 700; 
    padding: 1rem;
}

.nav-leader a:hover {
    background-color: var(--primarycolor);
    color: var(--black);
}

.hero {
    background-image: url(../images/backstyle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 410px;
    padding: 20px;
    

}


 
