:root {
    --white: #ffffff;
    --black: #212121;
    --primarycolor: #fcc107;
    --secundarycolor: #0097a7;
    --gray: #757575;
   
}

html {
    font-size: 62.5%;
}
body {
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Quicksand', sans-serif;

}
.titulo {
    text-align: center;
    font-size: 3.8rem;
    
}
span {
    font-size: 2.3rem;
}
.container {
    width: 120rem;
    margin: 0 auto;
}
.nav-leader {
    background-color: var(--secundarycolor);

}
